{{#if showFooter}}
<footer style= "margin-top: 40px;">
    <p style = "font-size: 80%; color: grey;">Copyright me {{getCurrentYear}}</p>
    <p style = "font-size: 80%; color: grey;">Site created for academic purposes, not for commercial use</p>
</footer>
{{/if}}