{{#if showHeader}}
<header>
    <h1 style = "border-bottom: 1px solid black; color:navy; margin-bottom: 10; padding-bottom: 5;">Current Cryptocurrency Prices for BTC and ETH Site</h1>
</header>
{{/if}}