<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show Database App</title>
    </head>
    {{>header}}
    <body>
        <h1>Search Results</h1>
        {{#each result}}
            <div>
                
                    <p>name: {{name}}</p>
                    <p>rating: {{rating}}</p>
                    <img src = {{image}}>

                
            </div>
        {{/each}}
    </body>
    {{>navbar}}
    {{>footer}}
</html>